In [1]:
# to create a list

list = ["yogesh", "choudhary", 15]

In [2]:
# to get all the element of list

list

['yogesh', 'choudhary', 15]

In [7]:
# to get particular value of an element of a list

list[1][0]

'c'

In [3]:
l=[1,2,3,4.5,6.5,5,"yogesh"]
l2=[]
l3=[]

#for items and their index number
for i, j in enumerate(l):
    print(i, j)
    
# another method to get index and values    
for i in range(len(l)):
    print(i, "element is : ",l[i])

# for printing data type of the following list    
for i in l:
    print(type(i))
        
# for method if there is a string in the list         
for i in j:
    if type(i) == str:
        l2=[]
        for i in j:
            l2.append(i)
print(l2)
        
#for square root of integer and creating another list

for p in l:
    if type(p)==int:
        d=(p**2)
        l3.append(d)
print(l3)

0 1
1 2
2 3
3 4.5
4 6.5
5 5
6 yogesh
0 element is :  1
1 element is :  2
2 element is :  3
3 element is :  4.5
4 element is :  6.5
5 element is :  5
6 element is :  yogesh
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'int'>
<class 'str'>
['y', 'o', 'g', 'e', 's', 'h']
[1, 4, 9, 25]

In [5]:
l5=[8,5,9]

In [6]:
l5[0]

8

In [7]:
list(range(0,5,-1))

[]

In [9]:
# for printing even numbers between 2-51

for list in (range(2,51,2)):
    print(list, end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [7]:
# for reverse integers

list(range(10,6,-1))

[10, 9, 8, 7]

In [12]:
# for printing pattern 

n = int(input("enter the numbers of rows you want to print :"))
for i in range(0,n):
    for j in range(0,i+1):
        print("*", end="")
    print("\r")

enter the numbers of rows you want to print :7
*
**
***
****
*****
******
*******

In [21]:
# for printing the elements of the list in reverse order

l5 = [2,5,6,8,9,10]

for i in range(len(l5)-1,-1,-1):
    print(l5[i], end = " ")

10 9 8 6 5 2

In [23]:
# creating a dictionary and getting keys and values of the same

d = {"a":"yogesh","b":"sourabh","c":"preetam","d":"deepu","e":"manoj"}

In [24]:
for i in d:
    print(i, d[i])

a yogesh
b sourabh
c preetam
d deepu
e manoj

In [25]:
# to get touple of list from a dictionary which include keys and values pair in touple

d.items()

dict_items([('a', 'yogesh'), ('b', 'sourabh'), ('c', 'preetam'), ('d', 'deepu'), ('e', 'manoj')])

In [20]:
# to get keys and value using for loop from a dictionary

for i in d.items():
    print(i)

('a', 'yogesh')
('b', 'sourabh')
('c', 'preetam')
('d', 'deepu')
('e', 'manoj')

In [30]:
# creating a set

s = {5,2,6,8,9,4,5,1,2,5,6,4,7,5,8,9,2}

In [31]:
s

{1, 2, 4, 5, 6, 7, 8, 9}

In [32]:
# using for loop to get the values in a set
for i in s:
    print(i)

1
2
4
5
6
7
8
9

In [33]:
s= "this is basic python class"

In [34]:
len(s)

26

In [35]:
# for getting the string elements in reverse manner

for i in range(len(s)-1,-1,-1):
    print(s[i], end = " ")

s s a l c   n o h t y p   c i s a b   s i   s i h t

In [36]:
s

'this is basic python class'

In [33]:
# another approach to get the string values in reverse

i = len(s)-1

while i>=0:
    print(s[i], end=" ")
    i=i-1

s s a l c   n o h t y p   c i s a b   s i   s i h t

In [37]:
# to get the vowels from a string

n = "yogesh"
v = "AaEeIiOoUu"

for i in n:
    if i in v:
        print(i, end = " ")

o e

In [ ]:
while i in n:
    if i in v == True:
        print(i)

In [56]:
# palindrom or not

p = "tenet"
d = ""

for i in p:
    d = d+i
print(d, end= " ")

if d==p:
    print("palindrom")
else:
    print("fail")

tenet palindrom

In [9]:
# palindrom or not

z=input("enter the word to check if palindrom or not :")
p= z[::-1]
print("after reversing the string provided :",p)

if z==p:
    print("palindrom")
else:
    ("not palindrom")

enter the word to check if palindrom or not :poop
after reversing the string provided : poop
palindrom

In [13]:
# palindrom
word = input("enter a word to check if it is palindrom :")

for i in range(len(word)):
    if word[i] != word[len(word)-i-1]:
        print("no")
        break
else:
    print("yes")

enter a word to check if it is palindrom :ant
no

In [14]:
# create a dictionary 

d={
    "india" : "IN",
    "united states" : "US",
    "china" : "CH",
    "pakistan" : "PA"
}

In [15]:
d

{'india': 'IN', 'united states': 'US', 'china': 'CH', 'pakistan': 'PA'}

In [27]:
# check if the key length is smaller than 5 or greater and print saperate lists of those output

d={
    "india" : "IN",
    "united states" : "US",
    "china" : "CH",
    "pakistan" : "PA"
}
# create two saperate empty list which will hold the final values of both the return
l_smaller = []
l_greater = []

for i in d:
    if len(i) <= 5:
        l_smaller.append(i)
    else:
        l_greater.append(i)

print(l_smaller)
print(l_greater)

['india', 'china']
['united states', 'pakistan']

In [57]:
dic = {"first":{
                "a":5,
                "b":6,
                "c":7
},
       
           "second":{
                    "z":11,
                    "y":12,
                    "x":13
               
                   
           }
       
    
}

In [58]:
dic

{'first': {'a': 5, 'b': 6, 'c': 7}, 'second': {'z': 11, 'y': 12, 'x': 13}}

In [7]:
dic.values()

dict_values([{'a': 5, 'b': 6, 'c': 7}, {'z': 11, 'y': 12, 'x': 13}])

In [62]:
# find keys and maximum values in those keys 

for i in dic.keys():
    print(i, end = " ")
    print(max(dic[i].values()), end = " ")

first 7 second 13

In [1]:
d = {
    "ineuron": {"a":14, "b":10, "c":4},
    "course": {"d":45, "e":34, "i":1},
    "g":34,
    "h":[45,6,7,8,9,3],
    "i":(45,34,2),
    "k":"sudh"
}

In [2]:
d.keys()

dict_keys(['ineuron', 'course', 'g', 'h', 'i', 'k'])

In [3]:
d.values()

dict_values([{'a': 14, 'b': 10, 'c': 4}, {'d': 45, 'e': 34, 'i': 1}, 34, [45, 6, 7, 8, 9, 3], (45, 34, 2), 'sudh'])

In [34]:
#find the maximum from the above dictionary

new = []

for i in d.values():
    if type(i) !=str and type(i)!= complex:
        if type(i)==list or type(i)==tuple or type(i)==set:
            new.extend(list(i))
        
        elif type(i)==dict:
            for j in i.values():
                new.append(j)
print(new)               
print("maximum is : ",max(new))

[14, 10, 4, 45, 34, 1, 45, 6, 7, 8, 9, 3, 45, 34, 2]
maximum is :  45